<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YW7VEL93SW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YW7VEL93SW');
    </script>

    <title>Drip Drop</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel='stylesheet' href='/stylesheets/square.css'>-->
   <!-- <link rel='stylesheet' href='/stylesheets/main.css'>-->
    <script type="text/javascript" src = "https://js.squareup.com/v2/paymentform"></script>
    <!--<script type="text/javascript" src = "https://js.squareupsandbox.com/v2/paymentform"></script>-->
<!--    <script src="//code.jquery.com/jquery-1.11.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <link rel='stylesheet' href='/stylesheets/checkout.css'>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  
 

 

</head>

<body>
      <nav class="navbar d-flex">
      <!-- <div style="background-color: rgb(0,0,0,0);" class = "m-0 p-0 d-block dropdown nav-item justify-content-start" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
        <div style="background-color: rgb(0,0,0,0);" class="m-0 p-0 d-block nav-item justify-content-start dropdown" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class = "img-fluid notRotated" id = "home" src='/images/menu3.png'>
       </div>
        <div class="m-0 p-0 d-none d-lg-flex justify-content-start">
            <h4 id="page" style="position:absolute; margin-top: -13px;"><%=loc%></h4>
        </div>

       
            <div style="background-color: black;" id="droppy" class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">HOME</button>
            </a>

            <a href="/shop">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">SHOP</button>
            </a>
            <a href="/graphics">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">GRAPHICS</button>
            </a>
            <a href= "/about">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">ABOUT</button>
            </a>
            <a href="/contact">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">CONTACT</button>
            </a>
            <a href="https://instagram.com/dripdropapparel">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">INSTAGRAM</button>
            </a>
            <a href="https://facebook.com/dripdropapparel">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">FACEBOOK</button>
            </a>
            <a href="/faq">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">FAQ</button>
            </a>
            <a href="/cart">
                <button style="color: white; font-weight:900; font-style:italic;" class="dropdown-item m-0" type="button">CART</button>
            </a>



            
            </div>
       <!-- </div>-->

         
     
        
        <div style="" class="mx-auto"><a href="/"><img id="title" class = "justify-content-center" src='/images/title.png'></a>
        </div>

    
        <div class="d-block nav-item justify-content-end my-auto text-center wrap">
        <a href="/cart">
            <img id = "cart" class="img-fluid" src="/images/cart.png">
            <span class = "text_over_img">
                <%if(cart && cart.items.length >0){%>
                    <%=cart.quant%>
                <%}%>
            </span>
        </a>
        </div>

 <!--       <div class = "d-block d-sm-none">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mr-2"></span>
           </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active mx-5" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link mx-5" href="/cart">Cart</a>
                </div>
            </div>


        </div>-->
 
 
    </nav>


