    <div id="homeLinks" style="" class = "row text-center justify-content-around">
        <div id = "facebookBox" class = "p-3">
            <a style="position:relative;" class = "homeLinks" id="facebookLink" href="https://facebook.com/dripdropapparel" target="_blank">FACEBOOK</a>
        </div>
        <div id = "instagramBox" class="p-3">
            <a style="position:relative;" id="instagramLink" class="homeLinks"  href="https://instagram.com/dripdropapparel" target="_blank">INSTAGRAM</a>
        </div>
        <div id = "emailBox" class="p-3">
            <a style="position:relative;" id="emailLink" class="homeLinks" href="/contact">CONTACT</a>
        </div>
   
        <div id = "boringBox" class="p-3">
            <a style="position:relative;" id="boringLink" class="homeLinks" href="/faq">FAQ</a>
        </div>
   </div>


