<%-include('partials/header.ejs')%>
<img style = "margin-bottom: 30px; height: 175px; margin-top:-20px; margin-left: -3%;" src = "/images/longer-drip.png"> 
<div id="aboutMobile" class = "container p-0">
    <div class= "row text-center mt-3 mb-5">
        <div class = 'col-12'>
            <h1 class="aboutwords"><a href="/story">OUR STORY</a></h1>
        </div>
    </div>
    <div class = "row text-center m-5">
        <div class = 'col-12'>
            <h1 class="aboutwords"><a href="/mission">OUR MISSION</a></h1>
        </div>
    </div>
    
</div>



<div style="color:black;" id="aboutDesktop" class = "container p-0">
<div class = "row text-center">
<div style="" class = "col-lg-5 col-12 text-center mb-5">
<div style="text-align: justify; justify-content:center; width:auto; height: 500px; margin-bottom: 0px; line-height:3em; overflow:scroll;padding: 20px;">
   <h1>OUR STORY</h1>
<p></p>
<div style="font-size:1.2rem;">
<p class="answer">
Hey! Arran here to tell you how <em>Drip Drop Apparel</em> came to be.
</p>

<p class="answer">
It was the summer of 2016 when Josh and I first discovered how passionate we were about fashion. I was eager to learn how to sew and there were sewing machines in my basement begging to be used. My mom, obliged in instructing me, and soon after my best friend, Josh. In a matter of weeks we learned to fashion the most dynamic patterned joggers Providence had ever seen. And that summer, Trippy Trousers, our first wave into the apparel world, was formed. We knew from the start we had potential beyond solely making trousers. It had begun a ripple effect; a creative outlet that has grown beyond clothing. Drip. Drop.
</p>

<p class="answer">
I'm Drip and I'll take over for Arran now. I have Drop beside me too. I feel the need to reintroduce us because we're so drippy you wouldn't recognize Arran and Josh at all. We have and will continue to create extraordinary fabrics and graphics, bringing to life a kaleidoscopic array of styles and patterns. We add a flood of color to the monotony of everyday streetwear. We're here to make a splash and put our city on the map.
</p>

<p class="answer">
Think of us as the Birds of Paradise in the Fashion Jungle.
</p>

<p class="answer">
Drip
</p>
<p class="answer">
xoxo
</p>
<p></p>
</div>
</div>
</div>
<div id="border" class = "col-lg-1 mr-5" style="border-right: 6px solid rgb(237,74,154); height: 500px;">
</div>
<div style="" class = "col-lg-5 col-12 text-center mb-5">
<div style="text-align: justify; width:auto; height: 500px; line-height:3em; overflow:scroll;padding: 20px;">
 
<h1>OUR MISSION</h1>
<p></p>
<div style = "font-size:1.2rem">
<p class="answer">
I'm Josh and I'm going to tell you about our uniquely thoughtful design. This isn't just a goal. We're on a mission.
</p>
<p class="answer">
At Drip Drop Apparel, we are constantly working to create apparel for everyday use that brings a true sense of individuality to the wearer. That is why we release just a few products at a time and in limited quantities.
</p>
<p class="answer">
As designers and creators, Drip and I are so aware and wary of the many malpractices occurring in the garment industry. We take it upon ourselves to create clothing in a socially conscious and environmentally friendly setting. Working with manufacturers who keep these ideals above their bottom line continues to guide our short-term and long-term business partnerships. Innovation in both process and product are key to our day to day workflow. So when you support us, you can be confident you're getting the most fashion forward apparel, developed with a progressive state of mind. 
</p>
<p class="answer">

Stay drippy, and remember,
</p>
<p class="answer">
Drip Drop to the Tip Top.
</p>
<p class="answer">
Drop
</p>
<p class="answer">
xoxo
</p>
</div>
</div>
</div>
</div>
<div class = 'row text-center'>
    <div class = "col-lg-12 mt-4">
        <img style="height: 100px; width: auto;" src = "images/diamond-transparent.gif">
    </div>
</div>
</div>
<!--<img class = "text-center mb-0" style="margin: -10% 45.45%; height: 100px; width:auto; margin-bottom: 0px;" src= "images/diamond-transparent.gif">-->
<%-include('partials/bottomLinks.ejs')%>
    <script type="text/javascript" src="/javascript/popper.js"></script>
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
    <script type="text/javascript" src="/javascript/links.js"></script>

<%-include('partials/footer.ejs')%>
