<%-include('partials/header.ejs')%>

<img style = "margin-bottom: 30px; height: 175px; margin-top:-20px; margin-left: -3%;" src = "/images/longer-drip.png">
    <div class = 'container justify-content-center'>
        <h1 class="text-center mb-5" >FAQ</h1>
        
        <div id="q1" class = "row mb-3">
            <div class = "col-11">
                <h4>What's the shipping process?</h4>

            </div>
            <div class = "col-1">
                <div><i id="m1" style="display:none" class="fa fa-minus" aria-hidden="true"></i><i id="p1"class="fa fa-plus" aria-hidden="true"></i></div>
            </div>

            <div style='text-align:justify;' class= "col-12">
                <div class="answer" style="display:none; margin-right:10%;" id="a1">We have decided to partner with and support the USPS to get your products to you securely. We charge a flat rate to make sure that your package arrives as quickly as possible</div>
            </div>
        </div>
        <div id="q2"class = "row mb-3 justify-content-around">
            <div class = "col-11">
                <h4>How do I make a return?</h4>

            </div>
            <div class = "col-1">
                <div><i id="p2" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m2" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>

            <div class = 'col-12'style="text-align:justify">
                <div class="answer" style="display:none; margin-right:10%;" id="a2"><a href="/returns" style="color:rgb(58,197,242)">CLICK TO SEE RETURN POLICY</a></div>
            </div>
        </div>
       
        <div id="q3" class = "row mb-3 justify-content-around">
            <div class = "col-11">
                <h4>Where can I find product sizing information?</h4>

            </div>
            <div class = "col-1">
                <div><i id="p3" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m3" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>

            <div class="col-12"style="text-align:justify;">
                <div type="button" data-toggle="modal" data-target="#exampleModal" class = "answer" style="cursor:pointer; display:none; margin-right:10%;" id="a3">Next to all of our products is a size chart. If you'd like you can view it <span style="color:rgb(58,197,242)">HERE</span> too.</div>
            </div>

            <!-- Button trigger modal -->
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
            </button>-->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="modalSize">
                        <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width:30%;">
                                <span aria-hidden="true">&times;</span>
                             </button>
                        </div>
                        <div class="modal-body">
                            <img src="images/aggregate-size-chart.png" class= "img-fluid">
                        </div>
                    </div>
                </div>
            </div>



        </div>
       
        <div id="q4" class = "row mb-3 justify-content-around">
            <div class = "col-11">
                <h4>How do I take care of my drip?</h4>

            </div>
            <div class = "col-1">
                <div class="justify-content-end"><i id="p4" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m4" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>

            <div style="text-align:justify;" class="col-12">
                <div style="display:none;margin-right:10%;" id="a4" class="answer" >We always recommend that you don't need to wash your items too often. This will help retain color, fit, and fabric quality. It's also a good way to save on energy and water consumption. Did you know it can take between 15 and 30 gallons of water for a single load? If you have to wash your drip, which we know you will eventually based on how often you're going to be wearing it, wash it cold, with like colors, and hang dry it.</div>
            </div>

        </div>
       
        <div id="q5" class = "row  mb-3 justify-content-around">
            <div class = "col-11">
                <h4>I heard you make custom clothes too, how can I get something no one else has?</h4>

            </div>
            <div class = "col-1">
                <div><i id="p5" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m5" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>

            <div class="col-12"style="text-align:justify">
                <div style="display:none; margin-right:10%;" id="a5" class="answer" >Send us a quick note through our <a href="/contact"style="color:rgb(58,197,242)">CONTACT PAGE</a></div>
            </div>

        </div>
       
        <div id="q6" class = "row mb-3 justify-content-around">
            <div class = "col-11">
                <h4>Can I buy a print of one of your graphics too?</h4>

            </div>
            <div class = "col-1">
                <div><i id="p6" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m6" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>
            <div class = 'col-12'style="text-align:justify">

                <div id="a6" style="display:none; margin-right: 10%;" class='answer'> <a href="/contact">We are currently working on integrating our operations with a print shop for that purpose. For now, send us a quick note through our Contact Page <span style="color:rgb(58,197,242)">HERE</span> and let us know which one and we'll make sure you can support </a> </div>
            </div>

        </div>
       
        <div id="q7" class = "row mb-3 justify-content-around">
            <div class = "col-11">
                <h4>What's so special about Drip Drop Apparel??</h4>

            </div>
            <div class = "col-1">
                <div class="justify-content-end"><i id="p7" class="fa fa-plus" aria-hidden="true"></i><i style="display:none" id="m7" class="fa fa-minus" aria-hidden="true"></i></div>
            </div>

            <div class = "col-12" style="text-align:justify;">
                <div id="a7" style="display:none; margin-right:10%;" class="answer">Drip Drop Apparel is more than just a clothing company. We didn’t start creating clothes to make money. We did it because we had a desire for clothes that we couldn't find anywhere else. It was only then, that we saw the opportunity to bring our creativity to others. At Drip Drop there is an unparalleled partnership that goes into creating every graphic, every garment, even every sentence that we craft. Two wonderfully passionate people, dropping their drip to the world, thats Drip Drop Apparel. </div>
            </div>

        </div>


    </div>

<!--    <div style="position:relative; width: 100%; height 125px; margin-botton:0px; margin-top:50px;" class = "row text-center justify-content-around">
        <div id = "facebookBox" class = "p-3">
            <a style="position:relative;" id="facebookLink" href="https://facebook.com/dripdropapparel" target="_blank">FACEBOOK</a>
        </div>
        <div id = "instagramBox" class="p-3">
            <a style="position:relative;" id="instagramLink" href="https://instagram.com/dripdropapparel" target="_blank">INSTAGRAM</a>
        </div>
        <div id = "emailBox" class="p-3">
            <a style="position:relative;" id="emailLink" href="/contact">CONTACT</a>
        </div>
   
        <div id = "boringBox" class="p-3">
            <a style="position:relative;" id="boringLink" href="/faq">FAQ</a>
        </div>
                                                                                 
   </div>-->
<%-include('partials/bottomLinks.ejs')%>
    
    <script type="text/javascript" src="/javascript/popper.js"></script>
    <script type="text/javascript" src="/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/faq.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
 
 

<%-include('partials/footer.ejs')%>
