<%-include('partials/header.ejs')%>
<img style = "margin-bottom: 30px; height: 175px; margin-top:-20px; margin-left: -3%;" src = "/images/longer-drip.png"> 

<div class = 'container text-center'>
    <div style="display: flex; justify-content: center;" class = "row">
            <div id="a" data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped alpha">
              <!--  <img src = "/graphics/dripdiamond.png" class ="img-thumbnail">-->
            </div>


            <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>-->

<!-- Modal -->
<div style="margin-top:5%;" class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-start" id="exampleModalLabel">Drip Diamond</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
   <!--        <img src = "/graphics/dripdiamond.png" class="img-fluid"> 
           <p class="graphicsDescription" style="text-align: left; margin-top:15px; margin-bottom:0px;padding:0px;">WATER. DRIPPING. ICY. THAT'S ALL (c. 20l7)</p>-->

<div id="carouselExampleControls" class="carousel" data-interval="false">
  <div class="carousel-inner">
    <div id="A" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/dripdiamond.png"
        alt="First slide">
    </div>
    <div id="B" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/driplit.jpg"
        alt="Second slide">
    </div>
    <div id="C" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/dd-camo-fire.png"
        alt="Third slide">
    </div>

    <div id="D" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/dd-camo-ice.png"
        alt="First slide">
    </div>
    <div id="E" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/trippy-drippy-ricky.png"
        alt="Second slide">
    </div>
    <div id="F" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/brick-diamond.png"
        alt="Third slide">
    </div>

    <div id="G" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/the-diamond.png"
        alt="First slide">
    </div>
    <div id="H" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/droopyghost.png"
        alt="Second slide">
    </div>
    <div id="I" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/look-at-me.png"
        alt="Third slide">
    </div>

    <div id="J" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/electric-cloud.gif"
        alt="First slide">
    </div>
    <div id="K" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/metroboofin.gif"
        alt="Second slide">
    </div>
    <div id="L" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/super-wet.gif"
        alt="Third slide">
    </div>

    <div id="M" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/levels.png"
        alt="First slide">
    </div>
    <div id="N" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/money.png"
        alt="Second slide">
    </div>
    <div id="O" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/drip-jeffery.png"
        alt="Third slide">
    </div>

    <div id="P" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/narraGANGshit.png"
        alt="First slide">
    </div>
    <div id="Q" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/stop-drip-drop-and-roll.png"
        alt="Second slide">
    </div>
    <div id="R" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/jellyfishes.gif"
        alt="Third slide">
    </div>

    <div id="S" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/radioactive.jpg"
        alt="First slide">
    </div>
    <div id="T" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/carl-the-turtle.png"
        alt="Second slide">
    </div>
    <div id="U" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/ring-drip.png"
        alt="Third slide">
    </div>

    <div id="V" class="carousel-item beta">
      <img class="d-block w-100" src="/graphics/too-much-sauce.png"
        alt="First slide">
    </div>
    

  </div>
    <p class="graphicsDescription" style="text-align: left; margin-top: 15px; margin-bottom:0px; padding:0px;">WATER.DRIPPING.ICY.THAT'S ALL (c.2017)</p>
  <a id="prev" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" style="filter:invert(1)" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a id="nexty" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span  class="carousel-control-next-icon" style="filter:invert(1)" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



      </div>
    </div>
  </div>
</div>

            <div data-toggle="modal" data-target="#Modal" id="b" style="margin: 5px;" class = "center-cropped-driplit alpha">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="dripLitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Drip Lit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/driplit.jpg" class="img-fluid"> 
            <p class="graphicsDescription">THE DRIP. THE DROP. THE DRIP DROP. THE TIP TOP. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-ddcamo-fire alpha" id="c">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="ddCamoFire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DD Camo Fire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/dd-camo-fire.png" class="img-fluid"> 
           <p class = 'graphicsDescription'>Camoflauge to keep you lit whenever, wherever. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-ddcamo-ice alpha" id="d">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="ddCamoIce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DD Camo Ice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/dd-camo-ice.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>Camoflauge to keep you cool even in the warmest conditions. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-trippy alpha" id="e">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="trippyDrippyRickyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Trippy Drippy Ricky</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/trippy-drippy-ricky.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>The notable portals from the show Rick and Morty have been warped into creating a world of slime and diamonds. Don't forget your portal gun if you want to get home. (c. 2017)</p>
      </div>
   </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-brick-diamond alpha" id="f">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="brickDiamondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brick Diamond</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/brick-diamond.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>Bricks were once made out of mortar and clay, but here at Drip Drop, we don't settle for anything less than the very tip top. That's why we make our bricks out of precious diamonds. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-the-diamond alpha" id="g">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="theDiamondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">The Diamond</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/the-diamond.png" class="img-fluid"> 
            <p class = "graphicsDescription">The nature of a diamond is that it reflects all light. This is a hyperbolic representation of that effect. (c. 2020)</p>
      </div>
   </div>
  </div>
</div>-->




            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-ghost alpha" id="h">
              <!--  <img src = "/graphics/droopyghost.png" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="ghostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Droopy Ghost</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/droopyghost.png" class="img-fluid"> 
            <p class = "graphicsDescription">BOO! (c. 2017)</p>
      </div>
        </div>
  </div>
</div>-->


            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-look alpha" id="i">
               <!-- <img src = "/graphics/look-at-me.png" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="lookatmeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Look at Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/look-at-me.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>Why would anyone ever pay $1000 for a T-Shirt? We've figured out why. (c. 2017)</p>
      </div>
        </div>
  </div>
</div>-->




            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-cloud alpha" id="j">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="electricCloudModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Electric Cloud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/electric-cloud.gif" class="img-fluid"> 
            <p class = "graphicsDescription">THIS IS THE STORY OF SD CLOUD FINDING THE POWER TO BE HAPPY. (c. 2019)</p>
      </div>
   </div>
  </div>
</div>-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-metro alpha" id="k">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="metroBoomBoxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Metro Booling</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/metroboofin.gif" class="img-fluid"> 
            <p class = "graphicsDescription">Inspired by the genius of the producer Metro Boomin, check him out boolin hard on the subway. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->


            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-wet alpha" id="l">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="superWetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Super Wet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/super-wet.gif" class="img-fluid"> 
            <p class = "graphicsDescription">THE IDEA OF SUPERWET IS INSPIRED BY THE BRAND SUPERDRY, BUT AT DRIP DROP, NOTHING IS DRY. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-levels alpha" id="m">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="levelsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Levels</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/levels.png" class="img-fluid"> 
            <p class = "graphicsDescription">""There's levels to this s**t" - Meek Mill" - Drip Drop (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->





    
   <!-- </div>
    <div style="display: flex; justify-content:center;" class = "row">-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-money alpha" id="n">
               <!-- <img src = "/graphics/money.png" class ="img-thumbnail">-->
            </div>


<!--<div class="modal fade" id="moneyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UFO CEO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/money.png" class="img-fluid"> 
            <p class = "graphicsDescription">Inspired by artist Rich The Kid's music label, Rich Forever, we introduce the Infinity Dollar. (c. 2018)</p>
      </div>
    </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-jeffery alpha" id="o">
               <!-- <img src = "/graphics/money.png" class ="img-thumbnail">-->
            </div>


<!--<div class="modal fade" id="jefferyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Drippy Jeffery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/drip-jeffery.png" class="img-fluid"> 
            <p class = "graphicsDescription">100% just a copy of Young Thugs namesake album, Jeffery, Kidding. We made it really drippy. (c. 2020)</p>
      </div>
       </div>
  </div>
</div>-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-narra alpha" id="p">
               <!-- <img src = "/graphics/money.png" class ="img-thumbnail">-->
            </div>


<!--<div class="modal fade" id="narraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NarraGANGshit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/narraGANGshit.png" class="img-fluid"> 
            <p class = "graphicsDescription">Crack a cold one with the gang, only if you're 21 of course. (c. 2020)</p>
      </div>
        </div>
  </div>
</div>-->



            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-droproll alpha" id= "q">
               <!-- <img src = "/graphics/money.png" class ="img-thumbnail">-->
            </div>


<!--<div class="modal fade" id="droprollModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stop Drip Drop and Roll</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/stop-drip-drop-and-roll.png" class="img-fluid"> 
            <p class = "graphicsDescription">IF YOU EVER FIND YOURSELF IN A DRIP EMERGENCY, REMEMBER THESE LIFE SAVING STEPS: STOP! DRIP! DROP! AND ROLL! (c. 2020)</p>
      </div>
         </div>
  </div>
</div>-->




            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-jellyfish alpha" id="r">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="jellyfishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Jellyfish</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/jellyfishes.gif" class="img-fluid"> 
            <p class = 'graphicsDescription'>The story behind this is crazy. Arran painted some crazy realistic jellyfish in watercolor and then Josh traced them in illustrator, animated each frame individually. between the two of them, this has to be over 40 hours of work. (c. 2018)</p>
      </div>
   </div>
  </div>
</div>-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-radioactive alpha" id="s">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="radioactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Radioactive</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/radioactive.jpg" class="img-fluid"> 
            <p class = 'graphicsDescription'>No one knows what lies on the other side of a black hole. Here at Drip Drop, scientists have surpassed the event horizon, performing a successful splashdown into the Acid Galaxy. They were instantly vaporized by the heat of their discovery.</p>
      </div>
   </div>
  </div>
</div>-->

            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-carl alpha" id="t">
              <!--  <img src = "/graphics/electric-cloud.gif" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="carlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carl the Turtle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/carl-the-turtle.png" class="img-fluid"> 
            <p class = "graphicsDescription">Meet Carl, he understands the value of respecting the ocean and asks everyone not to pollute so he can stay wavy. C.A.R.L. CARE AND RESPECT LIFE. (c.2018)</p>
      </div>
   </div>
  </div>
</div>-->


            <!--<div class = "col-lg-2">
                <img src = "/graphics/radioactive-drop.png" class ="img-thumbnail">
            </div>-->
            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-ring alpha" id="u">
              <!--  <img src = "/graphics/ring-drip.png" class ="img-thumbnail">-->
            </div>

 <!--   <div style="margin-top:5%;" class="modal fade" id="ringModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ring Drip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/ring-drip.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>Some bling for your ring. (c. 2017)</p>
      </div>
         </div>
  </div>
</div>-->


            <div data-toggle="modal" data-target="#Modal" style="margin: 5px;" class = "center-cropped-sauce alpha" id="v">
               <!-- <img src = "/graphics/too-much-sauce.png" class ="img-thumbnail">-->
            </div>

<!--<div style="margin-top:5%;" class="modal fade" id="sauceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Too Much Sauce</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <img src = "/graphics/too-much-sauce.png" class="img-fluid"> 
            <p class = 'graphicsDescription'>The inspiration for much of my artwork comes from the Trap music scene. Nowadays, lean (codeine with promethazine) is a very popular drug within the trap scene and is often called slime. Here, I depict the "slime" dripping from some Actavis bottles. (c. 2017)</p>
      </div>
         </div>
  </div>
</div>-->




    </div>


</div>


<%-include('partials/bottomLinks.ejs')%>    
    <script type="text/javascript" src="/javascript/popper.js"></script>
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
    <script type="text/javascript" src="/javascript/graphics.js"></script>
    <script type="text/javascript" src="/javascript/links.js"></script>

<%-include('partials/footer.ejs')%>
