<%-include('partials/header.ejs')%>
<img style="margin-bottom: 30px; height: 175px; margin-top: -20px; margin-left: -3%;" src="/images/longer-drip.png">
    <div class = "container">
        <div class = "row">
            <div style="text-align: justify;" class = 'aboutwords col-12'>
                 <h1>OUR STORY</h1>                                                      
  <p></p>
  <div style="font-size:1.5rem;">
  Dear reader,
   
  <p></p>
    At Drip Drop we are constantly working to create apparel for everyday use that brings a unique sense of individuality to the wearer. As designers and creators we are aware and wary of the many malpractices occurring in the garment industry. We take it upon ourselves to create clothing in a socially and environmentally friendly setting. Working with manufacturers who keep these ideals above their bottom line impacts our business partnerships. Therefore, you are not only getting the most fashion forward apparel, but apparel with a progressive state of mind. Innovation in both process and product are key to our day to day workflow. So you can rest assured that we are thinking about and working toward a better and brighter future in the fashion industry.         
 
<p></p>
 
  <p></p>
  Stay drippy, and remember,
  <p></p>
    Drip Drop to the Tip Top

    
            </div>
        </div>
    

    </div>
<script type="text/javascript" src="/javascript/popper.js"></script>    
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>    
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/navbar.js"></script>    
<%-include('partials/footer.ejs')%>
