<%-include('partials/header.ejs')%>
<img style = "margin-bottom: 30px; height: 175px; margin-top:-20px; margin-left: -3%;" src = "/images/longer-drip.png">
    <div class = "container">
        <div class = "row text-center">
            <div class = "col-12">
                <h1>RETURNS</h1>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4>Online purchases:</h4>
            </div>
        </div>
        <div style='color:black;' class = "row">
            <div style="" class = "col-12">
                <p class = "returnsParagraph" style="text-align:justify;">If you are not 100% satisfied with your online purchase you can return your goods, provided we receive the return within 14 days of receipt and in perfect original saleable condition, in any original packaging and with all tags attached. Please include a completed return form.</p>                
                <p class = "returnsParagraph" style="text-align:justify;">If you wish to cancel an online purchase, please complete a cancellation form or email us at dripdropapparel@gmail.com within 14 days of receipt of your order. You must return your goods in perfect original saleable condition, in any original packaging, with all tags attached within 14 days.</p>
                <p class = "returnsParagraph" style="text-align:justify;">
                    Please direct your returns to:
                    
                </p>
                <p class = "returnsParagraph text-center" >
                    Drip Drop Apparel
                </p>

                <p class = "returnsParagraph text-center">
                    163 Exchange St.
                </p>
                <p class = "returnsParagraph text-center">
                    Pawtucket, RI 02860
                
                </p>
                <p class = "returnsParagraph" style="text-align: justify;">    
                    Items purchased online cannot be returned in store. Customers are responsible for return shipping charges for unwanted items. For your protection, please be sure to return your goods via recorded or registered post.
                </p>


            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4>Exchanges:</h4>
            </div>
        </div>

        <div style='color:black;' class="row">
            <div style="" class = 'col-12'>
                <p class = "returnsParagraph" style="text-align:justify;">
                    We do not hold specific stock for exchanges, but if you wish to exchange your item you can return the original purchase in accordance with this policy and, subject to availability, then submit a new order online.

                </p>

            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4>Payment of Refunds:</h4>
            </div>
        </div>
        <div style="color:black;" class = "row">
            <div class="col-12">
                <p class = "returnsParagraph" style="text-align:justify;">
                    Refunds online will be made via the original payment method within 14 days of our receipt of returned items.
                </p>
                 <p class = "returnsParagraph" style="text-align:justify;">
                  We may make deductions from refunds to reflect any reduction in the value of the items which may have resulted from your handling of them; i.e. they are no longer in perfect saleable condition.
                </p>
                 <p class = "returnsParagraph" style="text-align:justify;">
                Drip Drop Apparel does not accept responsibility to refund any shipping carrier costs for returned items.
                </p>
                  <p class = "returnsParagraph" style="text-align:justify;">
               For any returns questions, please contact us at dripdropapparel@gmail.com 
                </p>
                
                
                

            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4>Faulty Items:</h4>
            </div>
        </div>
        <div style="color:black;" class="row">
            <div class = 'col-12'>
                <p class = "returnsParagraph" style="text-align:justify;">

                    If your items are faulty or not as described, you are entitled to return them to us within 30 days of receipt as an exchange with an in-stock item or for a refund. If you are returning the items after 30 days has passed, we may opt to repair or replace them before offering a refund. We will cover the cost of any return postage for goods bought online which are faulty or not as described.


                </p>
                <p class = "returnsParagraph" style="text-align:justify;">

                This does not apply to items which are discounted by us for an obvious fault.
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4>Returns Form:</h4>
            </div>
        </div>
        <div style="color:black;" class = "row">
            <div class = 'col-12'>
                <p class = "returnsParagraph" style="text-align:justify;">
                Drip Drop Apparel
                </p>
                <p class = "returnsParagraph" style="text-align:justify;">
                163 Exhange Street
                </p>
                <p class = "returnsParagraph" style="text-align:justify;">
                Pawtucket, RI 02860
                </p>
                <p class = "returnsParagraph">
                </p>
                <p class = "returnsParagraph">
                    dripdropapparel@gmail.com
                </p>
            </div>
            <div class = "col-12" style='border-top: 2px solid black;'>
            </div>
            <div style="color:black;"class = "col-12">
                <p class = "returnsParagraph"></p>
                <p class = "returnsParagraph" style="text-align:justify;">
                    Thank you for your online order, we hope that you are happy with your new purchase. However, if you are not 100% satisfied with your purchase, we offer a refund or exchange in accordance with the following policy:
                </p>
                <p class = "returnsParagraph" style="text-align:justify;">
                All returned items must be unused clothing or shoes must be unworn, unwashed, and in original packaging with all tags attached.
                </p>
                <p class = "returnsParagraph" style="text-align:justify;">
                Items must be sent back within 14 calendar days from the date you received the order.
                </p>

                <p class = "returnsParagraph" style="text-align:justify;">

If you are happy with the requirements above, please fill out the slip below and send back the item(s) in sufficient packaging to avoid damage of goods in transit. Please send all returns to the address above via a carrier that delivers to US Postal Addresses.
                </p>
            </div>  
        </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Exchanges:</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <p class = "returnsParagraph" style="text-align:justify;">
                        We do not hold stock for exchanges; in order to exchange your item please submit a new order (subject to availability) and return the original item for a refund in accordance with this policy.
                    </p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Refunds:</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <p class = "returnsParagraph" style="text-align: justify;">
                        For your protection, please ensure you return your goods via recorded or registered post.
                    </p>
                    <p class = "returnsParagraph" style="text-align: justify;">
                        Payments will be refunded back on to your original payment method; it will usually take up to 4 working days for the refund to clear upon our receipt of the item, but please allow up to 14 days.

                    </p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Returning Faulty/Incorrect Items:</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <p class = "returnsParagraph" style="text-align:justify;">
                        You have up to 30 days to return faulty or incorrect items for a refund. Drip Drop Apparel cannot be held responsible for any returns parcel lost in the post, therefore please return your goods via recorded or registered mail carrier service and keep your postage receipt.

                    </p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Customers in the USA:</h4>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-12'>
                    <p class = "returnsParagraph" style="text-align:justify;">
                        If you are a customer in the USA, you have additional rights to cancel online orders up to 7 days after you receive the goods. For more detail, please check the "RETURNS" section of our website.
                    </p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Returns from Outside of the USA:</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <p class = "returnsParagraph" style="text-align:justify;">
                    For any returns from outside of the USA, be sure to correctly fill out any customs documentation and mark as 'Return'. We do not accept responsibility for any fees associated with items held in customs.
                    </p>
                </div>
            </div> 

            <div class = "row">
                <div class = "col-12">
                    <h4>For Customer to Fill in</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <h4>Order Number:</h4>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12" style="border-bottom: 2px solid black;">
                </div>
            </div>
            <p class = "returnsParagraph"></p>
            <div class = "row">
                <div class = "col-12">
                    <h4>Please State Reason for Returning Goods (e.g. Refund, Faulty, Wrong Size, etc.):</h4>
                </div>
            </div>
            <p class = "returnsParagraph"></p>
            <p class = "returnsParagraph"></p>
            <p class = "returnsParagraph"></p>
            <div class = "row">
                <div class = "col-12" style="border-bottom: 2px solid black;">
                </div>
            </div>
             <p class = "returnsParagraph"></p>
            <p class = "returnsParagraph"></p>
            <p class = "returnsParagraph"></p>
    </div>
    
    <script type="text/javascript" src="/javascript/popper.js"></script>
    <script type="text/javascript" src="/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/faq.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
 
 

<%-include('partials/footer.ejs')%>
